.shop-item {
    border: 1px solid #313131;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

    &:hover {
        border: 1px solid $pageColorStyle;
        .shop-item__info {
            background-color: $pageColorStyle;
        }
        .shop-item__description-sum,
        .shop-item__description-text {
            color: #fff;
        }
    }

    &__img {
        height: 180px;
    }

    &__info {
        padding: 18px 10px;
        display: flex;
        flex-direction: column;
        margin: auto 0 0;
        transition: 0.3s;
        flex-grow: 1;
    }

    &__title {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto 0 0;
    }

    &__description-sum {
        font-weight: bold;
        color: $pageColorStyle;
        transition: 0.3s;
    }

    &__description-text {
        color: #767676;
        transition: 0.3s;
    }
}
